In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
pd.set_option("display.max_columns", None)
pd.set_option("display.width", 120)
DATA_PATH = "dataset/2019-Nov.csv" 
DATA_PATH_2 = "dataset/2019-Oct.csv"

In [3]:
df = pd.read_csv(
    DATA_PATH,
    nrows=1_000_000
)
df

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-11-01 00:00:00 UTC,view,1003461,2053013555631882655,electronics.smartphone,xiaomi,489.07,520088904,4d3b30da-a5e4-49df-b1a8-ba5943f1dd33
1,2019-11-01 00:00:00 UTC,view,5000088,2053013566100866035,appliances.sewing_machine,janome,293.65,530496790,8e5f4f83-366c-4f70-860e-ca7417414283
2,2019-11-01 00:00:01 UTC,view,17302664,2053013553853497655,NaN,creed,28.31,561587266,755422e7-9040-477b-9bd2-6a6e8fd97387
3,2019-11-01 00:00:01 UTC,view,3601530,2053013563810775923,appliances.kitchen.washer,lg,712.87,518085591,3bfb58cd-7892-48cc-8020-2f17e6de6e7f
4,2019-11-01 00:00:01 UTC,view,1004775,2053013555631882655,electronics.smartphone,xiaomi,183.27,558856683,313628f1-68b8-460d-84f6-cec7a8796ef2
...,...,...,...,...,...,...,...,...,...
999995,2019-11-01 15:32:09 UTC,view,11400039,2053013558458843721,NaN,iwalk,42.87,558486078,5754f825-f3b4-4bf0-9b88-9ee36b5cb6b7
999996,2019-11-01 15:32:09 UTC,view,2800546,2053013563835941749,appliances.kitchen.refrigerators,xing,192.51,513747948,d9ae554d-1841-412d-aefb-daa105910574
999997,2019-11-01 15:32:09 UTC,view,15700000,2053013559733912211,NaN,bts,388.14,553671602,3ce4bddb-fd33-4834-9bb9-137cd4d19199
999998,2019-11-01 15:32:09 UTC,view,23301744,2053013561956893455,NaN,adel,67.12,512449119,9681516f-4845-44fb-881b-9ba2c271f34f
999999,2019-11-01 15:32:10 UTC,view,3601515,2053013563810775923,appliances.kitchen.washer,samsung,604.65,536873532,04715ba0-529e-4f6b-8895-5d7ba92ec2eb

In [4]:
df.shape

(1000000, 9)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 9 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   event_time     1000000 non-null  object
 1   event_type     1000000 non-null  object
 2   product_id     1000000 non-null  int64
 3   category_id    1000000 non-null  int64
 4   category_code  683023 non-null   object
 5   brand          852803 non-null   object
 6   price          1000000 non-null  float64
 7   user_id        1000000 non-null  int64
 8   user_session   1000000 non-null  object
dtypes: float64(1), int64(3), object(5)
memory usage: 68.7+ MB

In [6]:
distinct_values = df['event_type'].unique()
print(distinct_values)

['view' 'cart' 'purchase']

In [7]:
distinct_values = df['brand'].unique()
print(distinct_values[:20])

['xiaomi' 'janome' 'creed' 'lg' 'hp' 'rondell' 'michelin' 'apple' nan
 'samsung' 'huawei' 'yokohama' 'trussardi' 'eveline' 'acer' 'asus' 'nika'
 'matrix' 'redmond' 'tomfarr']

In [8]:
distinct_values = df['category_code'].unique()
print(distinct_values[:20])

['electronics.smartphone' 'appliances.sewing_machine' nan
 'appliances.kitchen.washer' 'computers.notebook'
 'furniture.living_room.sofa' 'appliances.kitchen.refrigerators'
 'furniture.kitchen.chair' 'appliances.kitchen.dishwasher'
 'electronics.audio.headphone' 'appliances.environment.vacuum'
 'appliances.environment.water_heater' 'electronics.camera.video'
 'electronics.clocks' 'electronics.video.tv' 'apparel.tshirt'
 'apparel.jeans' 'construction.tools.drill' 'auto.accessories.compressor'
 'computers.components.motherboard']

In [9]:
nb_users = df['product_id'].nunique()
print("Nombre de produits distincts :", nb_users)

Nombre de produits distincts : 66001

In [10]:
nb_products = df['user_id'].nunique()
print("Nombre de users distincts :", nb_products)

Nombre de users distincts : 170337

In [ ]:
df.select("event_time").show(5)